# --- AWS CONFIG ---
AWS_ACCESS_KEY_ID=TU_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY=TU_SECRET_ACCESS_KEY
AWS_SESSION_TOKEN=TU_SESSION_TOKEN
AWS_REGION=us-east-1

# --- EC2 CONFIG ---
KEY_NAME=mi-clave-ec2
AWS_IMAGE_ID=ami-0c55b159cbfafe1f0
AWS_INSTANCE_TYPE=t2.micro
AWS_EC2_NAME=mi-app-php
SG_EC2_NAME=sg-ec2-php

# --- RDS CONFIG ---
DB_IDENTIFIER=mi-rds-db
DB_INSTANCE_CLASS=db.t3.micro
DB_ENGINE=mysql
DB_MASTER_USER_NAME=admin
DB_MASTER_PASSWORD=SuperPassword123!
DB_APP_NAME=app_db
SG_DB_NAME=sg-rds-db

# --- APP CONFIG (PHP) ---
DB_PORT=3306
DB_APP_USER=appuser
DB_APP_PASSWORD=AppPassword123!

APP_ADMIN_USER=admin
APP_ADMIN_PASSWORD=AdminPassword123!

APP_REPO_URL=https://github.com/usuario/repositorio-php.git